/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
}

html {
    background-color:  #e5f2f9 ;
    ;
}

button {
    height: 35px;
}

input.button{
    height: 35px;
}

/* ajout */