#scenes {
    display: flex;
    flex-direction: row;
    height: 488px;
    width: 1296px;
    max-width: 1296px;
    padding: 2px;
    border-collapse: collapse;
    justify-content: left;
    align-items: center;   
}
#leftScene, #rightScene{
    max-width: 640px;
    max-height: 480px;
}

.gameView {
    position: relative;
    width:644px;
    margin: 2px;
    height: 483px;
    border: 2px solid #A5AFBA;
}

.errorI{
    z-index: 1;
    position: absolute;
    font-size: 30px;
    color: #cc0000;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}